<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <label for="rank">Rank:</label>
  <input id="rank" formControlName="rank" type="number" required />

  <label for="firstName">First Name:</label>
  <input id="firstName" formControlName="firstName" type="text" required />

  <label for="lastName">Last Name:</label>
  <input id="lastName" formControlName="lastName" type="text" required />

  <label for="country">Country:</label>
  <input id="country" formControlName="country" type="text" required />

  <label for="average">Average:</label>
  <input id="average" formControlName="average" type="number" />

  <button type="submit">Submit</button>
  <button type="button" (click)="playerForm.reset()">Reset</button>
</form>
