<div>
  <ng-container *ngFor="let player of players; let i= index">

    <app-players-list-item
      [player]="player"
      [even]="i%2===0" [appHoverHighlight]="'blue'" [defaultColor]="'black'">

    </app-players-list-item>
      <div class="actionButtons">
          <button mat-raised-button color="primary "(click)="editPlayer(player)" [appHoverHighlight]="'green'">Edit</button>
          <button mat-raised-button color="warn "(click)="deletePlayer(player.rank)"[appHoverHighlight]="'yellow'">Delete</button>
      </div>
  </ng-container>
</div>

